dictator-spring/src/main/resources/META-INF/dictator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.github.com/liuyuyu/dictator"
            targetNamespace="http://www.github.com/liuyuyu/dictator"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
    <xsd:element name="config">
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[ 配置启用Dictator作为配置中心]]>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <!-- 应用ID -->
            <xsd:attribute name="appId" type="xsd:string" />
            <!-- 环境（开发/测试/生产） -->
            <xsd:attribute name="profile" type="xsd:string" />
            <!-- 配置中心服务端的地址（http://127.0.0.1:3399） -->
            <xsd:attribute name="serverUrl" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>